.homepage {
  height: 100vh;
  width: 100vw;
  /* background: linear-gradient(90deg, #b9deed, #efefef); */
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.add-edit-input {
  position: absolute;
  top: 20px;
  outline: none;
  border: none;
  height: 30px;
  font-size: 25px;
  padding: 5px 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

.add-confirm-icon {
  position: absolute;
  transform: scale(2);
  top: 27px;
  right: 750px;
  cursor: pointer;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 10px;
}

/* .todo > h2 {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
} */

.todo > p {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px #607d8b;
  display: flex;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  transition-duration: 0.5s;
  transition-property: all;
  width: 600px;
  word-break: break-word;
}

.edit-button,
.delete-button {
  cursor: pointer;
  margin-left: 10px;
}

.logout-icon {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 20px;
  color: white;
}
