.homepage {
  height: 100vh;
  width: 100vw;
  /* background: linear-gradient(90deg, #b9deed, #efefef); */
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.homepage .version {
  position: absolute;
  bottom: 15px;
  right: 18px;
  opacity: 0.5;
}

.add-edit-input {
  position: absolute;
  top: 20px;
  outline: none;
  border: none;
  height: 30px;
  font-size: 25px;
  padding: 5px 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

.add-confirm-icon {
  position: absolute;
  transform: scale(2);
  top: 27px;
  right: 750px;
  cursor: pointer;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.todo > p {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px #607d8b;
  display: flex;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  transition-duration: 0.5s;
  transition-property: all;
  width: 600px;
  word-break: break-word;
}

.todo.done > p {
  width: 600px;
  background-color: rgb(252, 251, 251);
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  box-shadow: 0px 0px 5px #607d8b;
  word-break: break-word;
  align-items: center;
  display: flex;
  transition-property: all;
  transition-duration: 0.5s;
  background: rgb(214, 205, 205);
  color: rgb(143, 142, 142);
  text-decoration: line-through;
}

.edit-button,
.checkbox-button {
  cursor: pointer;
  margin-left: 10px;
}

.delete-button {
  cursor: pointer;
  margin-left: 20px;
}

.logout-icon {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 20px;
  color: white;
}

.logout-icon:hover {
  background-color: rgba(184, 175, 175, 0.452);
}

::placeholder {
  color: rgba(78, 195, 224, 0.473);
}

/* .todo-homepage {
  height: 60px;
  position: absolute;
  top: 10px;
  left: 700px;
} */

.todo-homepage {
  height: 60px;
  position: absolute;
  right: 40px;
  bottom: 50px;
}

.note-exit-active {
  animation: note 500ms ease-out forwards;
}

.note-enter-active {
  animation: note 500ms ease-in alternate-reverse;
}

@keyframes note {
  0% {
    transform: translateX(0);
  }

  30% {
    opacity: 0.7;
    transform: translateX(30px);
  }

  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}
